body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.app {
  display: flex;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e1e2f;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
}

.sidebar a.active {
  font-weight: bold;
}
